body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "IBMPlexSerif-Regular";
  src: local("IBMPlexSerif"),
    url(./assets/fonts/IBMPlexSerif-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "IBMPlexSerif-Bold";
  src: local("IBMPlexSerif"),
    url(./assets/fonts/IBMPlexSerif-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "IBMPlexSerif-Italic";
  src: local("IBMPlexSerif"),
    url(./assets/fonts/IBMPlexSerif-Italic.ttf) format("truetype");
}

@font-face {
  font-family: "IBMPlexSerif-BoldItalic";
  src: local("IBMPlexSerif"),
    url(./assets/fonts/IBMPlexSerif-BoldItalic.ttf) format("truetype");
}
